@CHARSET "UTF-8";
body{
    background: url("../images/bglogin.jpg") no-repeat;
    background-size:100%;
    animation-name:myfirst;
    animation-duration:12s;
    /*变换时间*/
    animation-delay:2s;
    /*动画开始时间*/
    animation-iteration-count:infinite;
    /*下一周期循环播放*/
    animation-play-state:running;
    /*动画开始运行*/
}
/*
@keyframes myfirst
{
    0%   {background:url("../images/1.jpg");}
    50%  {background:url("../images/2.jpg");}
    100% {background:url("../images/1.jpg");}
}*/
.form{
	background: rgba(255,255,255,0.2);
	width:600px;
	position: absolute;   
    top: 360px;   
    left: 50%; 
}

/*阴影*/
.fa{display: inline-block;top: 25px;left: 6px;position: relative;color: #ccc;}
.form-horizontal{border-radius: 15px;}
input[type="text"],input[type="password"]{padding-left:26px;}
//.checkbox{padding-left:21px;}