<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:task="http://www.springframework.org/schema/task"
	   xsi:schemaLocation="
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
	      http://www.springframework.org/schema/context
	      http://www.springframework.org/schema/context/spring-context.xsd
	      http://www.springframework.org/schema/mvc
          http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	      
	<!-- 根目录'/'对应页面 -->
    <mvc:view-controller path="/" view-name="/index/redirect_index.jsp"/>
    
    <!-- configure the InternalResourceViewResolver -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="order" value="1"/>
        <property name="prefix" value="/WEB-INF/jsp"/>
        <property name="suffix" value=""/>
        <property name="contentType" value="text/html; charset=utf-8"/>
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
    </bean>
    
    <!-- 扫描含有注解的control -->
	<context:component-scan base-package="com.mwp.control" />
	
	<!-- 拦截器 -->
	<mvc:interceptors>
        <!--限流拦截器-->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/resources/**"/>
            <bean class="com.mwp.base.LimitInterceptor">
            	<constructor-arg index="0" value="10"/>
            </bean>
        </mvc:interceptor>
    </mvc:interceptors>
    
	<!-- 文件导入的必需包 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />
	<mvc:default-servlet-handler />
	
	<!-- 返回ResponseBody响应类型 -->
    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/html;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
    
    <!-- 配置静态资源访问，不被DispatcherServlet处理，增加缓存时间10秒 -->
    <mvc:resources mapping="/favicon.ico" location="/favicon.ico"/>
    <mvc:resources mapping="/resources/**" location="/resources/" cache-period="10"/>
    <mvc:resources mapping="/uploadfiles/**" location="/uploadfiles/" cache-period="10"/>
    
</beans>